header{
    height: 50px;
    border:1px solid black;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.titulo{
    font-size:35px;
    left: 50%;
    color:#FFF300 ;
}

.boton-reiniciar{
    position:absolute;
    left: 12px;
    top:58px;
}